.main{
  @extend %margin-bottom-lg;

  .user-login {
    margin-bottom: $gap *3;
  }

  .site-search {
    margin-bottom: $gap *4;
  }
}

.new-films {
  &-title {
      margin-top: -5px;
  }
  &-row{
    margin-left: -$gap / 2;
    margin-right: -$gap / 2;
  }
  &-item {
    padding-left: $gap / 2;
    padding-right: $gap / 2;
    margin-bottom: $gap;

    &__thumbnail {
      margin-bottom: 0;
    }
  }
}


